<?xml version="1.0"?>

<model>
  <name>fences_with_holes</name>
  <version>1.0</version>
  
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Kenni Nilsson</name>
    <email>kenil16@student.sdu.dk</email>
  </author>

  <description>
    Detection of holes in fences 
  </description>
</model>
