<?xml version="1.0"?>
<launch>
    <include file="$(find eit_playground)/launch/posix.launch">
        <arg name="vehicle" value="sdu_drone_mono_cam"/>
        <arg name="env" value="hca_airport_fence_with_holes"/>
    </include>

    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
    </include>
</launch>


